<div class="cmp-info-button-card {{#if radio}} radio-card{{/if}} {{card-class}}">
  <div class="card {{#if shadow}}shadow{{/if}} p-3 p-lg-4">
    {{#if radio}}
    <div class="card-header mb-0 p-0">
      <div class="form-check m-0">
        <input class="radio-input" name="{{group}}" type="radio" id="{{idRadio}}">
        <label for="{{idRadio}}">
          <h3 class="big-title mb-0">{{{radio-title}}}</h3>
        </label>
      </div>
    </div>
    {{/if}}
    <div class="card-body p-0">
      {{#if big-title}}
      <h3 class="big-title mb-0">{{{big-title}}}</h3>
      {{/if}}

      {{#if medium-title}}
      <h3 class="medium-title mb-0">{{{medium-title}}}</h3>
      {{/if}}

      {{#if name}}
      <p class="name">{{name}}</p>
      {{/if}}

      {{#if label-1}}
      <p class="card-info">{{{label-1}}}</p>
      {{/if}}

      {{#if label-2}}
      <p class="card-info">{{{label-2}}}</p>
      {{/if}}

      {{#if error}}
      {{> cmp-alert-box/cmp-alert-box message=alertMessage}}
      <button type="button" class="btn btn-outline-primary mt-3 w-100" data-bs-toggle="modal"
        data-bs-target="#{{modalId}}">{{btnLabel}}</button>
      {{/if}}

      {{#if show-more-anagrafica}}
      {{>partials/cmp-accordion/cmp-accordion-anagrafica }}
      {{/if}}

      {{#if show-more-anagrafica-2}}
      {{>partials/cmp-accordion/cmp-accordion-anagrafica-2 acc-open=acc-open}}
      {{/if}}

      {{#if show-more-anagrafica-3}}
      {{>partials/cmp-accordion/cmp-accordion-anagrafica-3 }}
      {{/if}}

      {{#if show-more-anagrafica-4}}
      {{>partials/cmp-accordion/cmp-accordion-anagrafica-4 }}
      {{/if}}

      {{#if show-more-vehicle}}
      {{>partials/cmp-accordion/cmp-accordion-vehicle }}
      {{/if}}

      {{#if show-more-isee}}
      {{>partials/cmp-accordion/cmp-accordion-isee acc-open=acc-open }}
      {{/if}}

      {{#if show-more-disservizio}}
      {{>partials/cmp-accordion/cmp-accordion-disservizio no-header=true }}
      {{/if}}

      {{#if show-accordion-bank}}
      {{>partials/cmp-accordion/cmp-accordion-bank }}
      {{/if}}
    </div>
  </div>
</div>