<div class="form-check cmp-info-radio radio-card">
  {{#if radio}}
  <input class="radio-input" name="{{group}}" type="radio" id="{{idRadio}}">
  <label for="{{idRadio}}"></label>
  {{/if}}
  <div class="card card-teaser shadow p-3 p-lg-4">
    <div class="card-body">
      <h3 class="big-title mb-0">{{title}}</h3>

      {{#each info-appointment as |item|}}
      <div class="info-wrapper">
        <span class="info-wrapper__label">{{item.label}}</span>
        <p class="info-wrapper__value">{{item.value}}</p>
      </div>
      {{/each}}

    </div>
  </div>
</div>
