<div class="cmp-card-radio">
  <div class="card card-teaser">
    <div class="card-body">
      <div class="form-check m-0">
        <div class="radio-body border-bottom border-light">
        <input name="{{id}}" type="radio" id="{{id}}-1">
        <label for="{{id}}-1">Si</label>
        </div>
        <div class="radio-body">
        <input name="{{id}}" type="radio" id="{{id}}-2">
        <label for="{{id}}-2">No</label>
        </div>
      </div>
    </div>
  </div>
</div>
