<div class="cmp-card-radio">
  <div class="card card-teaser">
    <div class="card-body">
      <div class="form-check m-0">
        {{#if percentage}}
          {{#if frequency}}
            {{#if diet}}
              <div class="radio-body border-bottom border-light">
                <input name="{{id}}" type="radio" id="{{id}}-1">
                <label for="{{id}}-1">Nessuna dieta</label>
              </div>
              <div class="radio-body border-bottom border-light">
                <input name="{{id}}" type="radio" id="{{id}}-2">
                <label for="{{id}}-2">Dieta per patologia</label>
              </div>
              <div class="radio-body border-bottom border-light">
                <input name="{{id}}" type="radio" id="{{id}}-3">
                <label for="{{id}}-3">Dieta etico religiosa</label>
              </div>
            {{else}}
              <div class="radio-body border-bottom border-light">
                <input name="{{id}}" type="radio" id="{{id}}-1">
                <label for="{{id}}-1">1 giorno</label>
              </div>
              <div class="radio-body border-bottom border-light">
                <input name="{{id}}" type="radio" id="{{id}}-2">
                <label for="{{id}}-2">3 giorno</label>
              </div>
              <div class="radio-body border-bottom border-light">
                <input name="{{id}}" type="radio" id="{{id}}-3">
                <label for="{{id}}-3">5 giorno</label>
              </div>
            {{/if}}
          {{else}}
            <div class="radio-body border-bottom border-light">
              <input name="{{id}}" type="radio" id="{{id}}-1">
              <label for="{{id}}-1">Nessuna</label>
            </div>
            <div class="radio-body border-bottom border-light">
              <input name="{{id}}" type="radio" id="{{id}}-2">
              <label for="{{id}}-2">25%</label>
            </div>
            <div class="radio-body border-bottom border-light">
              <input name="{{id}}" type="radio" id="{{id}}-3">
              <label for="{{id}}-3">50%</label>
            </div>
            <div class="radio-body border-bottom border-light">
              <input name="{{id}}" type="radio" id="{{id}}-4">
              <label for="{{id}}-4">75%</label>
            </div>
            <div class="radio-body border-bottom border-light">
              <input name="{{id}}" type="radio" id="{{id}}-5">
              <label for="{{id}}-5">100%</label>
            </div>
            {{/if}}
          {{else}}
          <div class="radio-body border-bottom border-light">
          <input name="{{id}}" type="radio" id="{{id}}-1">
          <label for="{{id}}-1">Si</label>
          </div>
          <div class="radio-body">
          <input name="{{id}}" type="radio" id="{{id}}-2">
          <label for="{{id}}-2">No</label>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
