<div class="calendar-partials card {{class}}">
  <div class="form-group {{form-class}}">
    <label class="active {{label-class}}" for="date-{{index}}">{{label-text}}{{#if required}}*{{/if}}</label>
    <input type="date" class="it-date-datepicker icon-primary form-control" id="date-{{index}}" name="dateStandard" {{#if required}}required{{/if}}>
  </div>
</div>