<div class="cmp-icon-link">
  <a class="list-item icon-left d-inline-block {{link-class}}" href="#" aria-label="Scarica {{link}} {{dimensione-file}}" title="Scarica {{link}} {{dimensione-file}}">
    <span class="list-item-title-icon-wrapper">
      <svg class="icon icon-primary icon-sm me-1">
        <use href="../assets/bootstrap-italia/dist/svg/sprite.svg#it-clip"></use>
      </svg>
      <span class="list-item">{{link}} {{dimensione-file}}</span>
    </span>
  </a>
</div>
