<div class="cmp-tot bg-white {{class}}">
  <div class="tot-wrapper border-bottom border-light d-lg-flex justify-content-between">
    <p class="title-tot mb-0">{{label-title}}</p>
    <span class="value-tot">{{value}}</span>
  </div>
  {{> cmp-input/input type="text" id=id label=label name=name text=text formClass="mb-3" required=required}}
  <div class="wrapper d-flex justify-content-between border-bottom border-light subtitle-small">
    <p>{{rest}} </p>
    <span>{{rest-value}}</span>
  </div>

</div>
