<div class="cmp-input-search">
  <div class="form-group autocomplete-wrapper {{wrapper-class}}">
  <label for="autocomplete-two" class="{{#if label-visible}}label-visible{{else}}visually-hidden{{/if}}">{{label-text}}</label>
  <input type="search" class="autocomplete" placeholder="{{placeholder-text}}"
    id="autocomplete-two"
    name="autocomplete-two"
    data-bs-autocomplete="[]">
  <span class="autocomplete-icon" aria-hidden="true">
    <svg class="icon icon-sm {{icon-class}}" role="img" aria-labelledby="autocomplete-label"><use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-search"></use></svg>
  </span>

    {{#if search-subtitle}}
      <p id="autocomplete-label" class="{{text-subtitle-class}}">{{{text-subtitle}}}</p>
    {{/if}}
  </div>
</div>
