<div class="row g-4">
  {{#each cards as |card|}}
  <div class="col-md-6 col-xl-4">
    <div class="card-wrapper border border-light rounded shadow-sm">
      <div class="card no-after rounded">
        {{#if img-path}}
        <div class="img-responsive-wrapper">
          <div class="img-responsive img-responsive-panoramic {{imgClass}}">
            <figure class="img-wrapper">
              <img class="" src="{{img-path}}" title="titolo immagine" alt="descrizione immagine">
            </figure>
          </div>
        </div>
        {{/if}}
        <div class="card-body">
          <div class="category-top">
            {{#if card.category}}
            <a class="category text-decoration-none" href="#">{{card.category}}</a>
            {{/if}}
            {{#if card.category-date}}
            <span class="data">{{card.category-date}}</span>
            {{/if}}
          </div>
          <a href="{{card.url}}" class="text-decoration-none" data-element="news-category-link">
            <h3 class="card-title">{{card.title}}</h3>
          </a>
          <p class="card-text text-secondary">{{card.description}}</p>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
  <!--end card-->

  {{#if buttonNext}}
  <div class="d-flex justify-content-end">
    {{> cmp-button/cmp-button primary="true" class="px-5 py-3 full-mb" }}
  </div>
  {{/if}}
</div>