<div class="row g-4">
  {{#each cards as |card|}}
  <div class="col-md-6 col-xl-4">
    <div class="card-wrapper border border-light rounded shadow-sm pb-0">
      <div class="card no-after rounded">
        <div class="card-body rounded-top">
          {{#if card.category}}
          <div class="categoryicon-top">
            <svg class="icon icon-sm" aria-hidden="true">
              <use href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-file"></use>
            </svg>
            <span class="text fw-semibold">
              <a class="category text-decoration-none" href="#">{{card.category}}</a>
            </span>
          </div> 
          {{/if}}
          <a {{#if card.url}} href="{{card.url}} {{else}} href="#"{{/if}} class="text-decoration-none" data-element="news-category-link">
            <h3 class="card-title h4">{{card.title}}</h3>
          </a>
          <p class="text-secondary mb-0">{{card.description}}</p>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
  <!--end card-->

  {{#if buttonNext}}
  <div class="d-flex justify-content-end">
    {{> cmp-button/cmp-button primary="true" class="px-5 py-3 full-mb" }}
  </div>
  {{/if}}
</div>