<div class="select-wrapper {{class}} {{#if no-bg}}bg-transparent p-0 {{else}}select-partials{{/if}}">
  <label for="{{id}}" class="{{#if label-hidden}}hidden{{/if}}" {{label-class}}>{{label-text}}{{#if
    required}}*{{/if}}</label>
  <select id="{{id}}" class="{{#if no-bg}}bg-transparent{{/if}} {{selectClass}}" {{#if required}}required{{/if}}>
    <option selected value="">{{placeholder}}</option>
    {{#each select-option-list as |item|}}
    <option value="{{item.value}}">{{item.value}}</option>
    {{/each}}
  </select>
  {{#if text}}
  <div class="d-flex {{text-class}}">
    <span class="form-text cmp-input__text">
      {{text}}</span>
  </div>
  {{/if}}
</div>