<div class="cmp-tag">
  <a class="chip chip-simple {{class}} text-decoration-none"
  {{#if servizio-attivo}} 
    aria-label="{{label-tag}}{{label-tag-up}}" title="{{label-tag}}{{label-tag-up}}"
    {{else}} 
    aria-label="Visualizza tutti gli argomenti {{label-tag}}{{label-tag-up}}" title="Visualizza tutti gli argomenti {{label-tag}}{{label-tag-up}}"
  {{/if}}
  href="#" data-element="service-topic">
  <span class="chip-label">{{label-tag}}{{label-tag-up}}</span>
  </a>
</div>
