<div class="cmp-tag">
  <a class="cmp-tag__tag title-xsmall text-decoration-none {{class}}"
  {{#if servizio-attivo}} 
    aria-label="{{label-tag}}{{label-tag-up}}" title="{{label-tag}}{{label-tag-up}}"
    {{else}} 
    aria-label="Visualizza tutti gli argomenti {{label-tag}}{{label-tag-up}}" title="Visualizza tutti gli argomenti {{label-tag}}{{label-tag-up}}"
  {{/if}}
  href="#">{{label-tag}}{{label-tag-up}}</a>
</div>
