<div class="cmp-card-latest-messages mb-3 {{cmp-card-class}}" data-bs-toggle="modal" data-bs-target="#{{modalId}}" id="{{id}}">
  <div class="card shadow-sm px-4 pt-4 pb-4 {{#if cardRounded}}rounded{{/if}}">
    <div class="card-header border-0 p-0 {{#if header-m0}}m-0{{/if}}">
      {{#if date}}
      <date class="date-xsmall">{{date}}</date>
      {{/if}}
      {{#if text-small}}
      <p class="title-xsmall-bold mb-2 {{text-small-class}}">{{text-small}}</p>
      {{/if}}
      {{#if category}}
        <a class="text-decoration-none title-xsmall-bold mb-2 category {{category-class}}" href="#">{{category}}</a>
      {{/if}}
    </div>
    <div class="card-body p-0 my-2">
      {{#if card-title}}
      <h3 class="title-small-semi-bold t-primary m-0 mb-1"><a href="#" class="text-decoration-none">{{card-title}}</a></h3>
      {{/if}}
      {{#if green-title-big}}
      <h3 class="green-title-big t-primary mb-8"><a href="#" class="text-decoration-none" data-element="service-link">{{green-title-big}}</a></h3>
      {{/if}}
      {{#if description}}
      <p class="text-paragraph {{description-class}}">{{description}}</p>
      {{/if}}
    </div>
  </div>
</div>
