<div class="accordion-item">
  <div class="accordion-header" id="heading-{{collapse-id}}">
    <button class="collapsed accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{collapse-id}}"
      aria-expanded="false" aria-controls="{{collapse-id}}" aria-label="Mostra tutto o nascondi">
      <span class="d-flex align-items-center">
      Mostra tutto
        <svg class="icon icon-primary icon-sm">
          <use href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
        </svg>
      </span>
    </button>
  </div>
  <div id="{{collapse-id}}" class="accordion-collapse collapse{{#if acc-open}} show{{/if}}" role="region">
    <div class="accordion-body p-0">
      {{#if anagrafica-indirizzo}}
        {{>cmp-info-summary/cmp-info-summary info-title="Anagrafica" info=true info-list=info-anagrafica class="has-border"}}
        {{>cmp-info-summary/cmp-info-summary info-title="Indirizzo" info=true info-list=info-indirizzi class="has-border"}}
      {{else}}
          {{>cmp-info-summary/cmp-info-summary info-title="Anagrafica" info=true info-list=anagrafica btn=btnAnagrafica class="has-border"}}
          {{#if indirizzo}}
          {{>cmp-info-summary/cmp-info-summary info-title="Indirizzo" info=true info-list=indirizzo btn=btnIndirizzo class="has-border"}}
          {{/if}}
          {{>cmp-info-summary/cmp-info-summary info-title="Documenti" info=true info-list=documenti btn=btnDocumenti class="has-border" no-header=btnDocumenti}}
      {{/if}}

    </div>
  </div>
</div>
