<div class="cmp-heading pb-3 pb-lg-4">
  {{#if iconTitle}}
    <div class="categoryicon-top d-flex">
      <svg class="icon icon-sm icon-success align-self-center">
        <use href="./assets/bootstrap-italia/dist/svg/sprite.svg#{{iconTitle}}"></use>
      </svg>
      {{#if h2}}
      <h2 class="title-xxxlarge mb-0 ml-10">{{title}}</h2>
      {{else}}
      <h1 class="title-xxxlarge ml-10">{{title}}</h1>
      {{/if}}
    </div>
  {{else}}
    {{#if h2}}
    <h2 class="title-xxxlarge">{{title}}</h2>
    {{else}}
    <h1 class="title-xxxlarge">{{title}}</h1>
    {{/if}}
  {{/if}}

  {{#if subTitle}}
    <p class="subtitle-small mb-2 {{pClass}}">{{{subTitle}}}</p>
  {{/if}}

   {{#if label-tag}}
    <div class="d-flex flex-wrap gap-2 cmp-heading__tag">
      {{>partials/cmp-tag/cmp-tag}}
    </div>
  {{/if}}

  {{#if descriptionAfterTag}}
    <p class="text-paragraph mb-30">
    {{descriptionAfterTag}}
    </p>
  {{/if}}

  {{#if description}}
    <p class="subtitle-small">{{{description}}}</p>
  {{/if}}

  {{#if button}}
    <div class="{{btnClass}}">
    {{>partials/button/button class="fw-bold"}}
    </div>
  {{/if}}

  {{#if double-button}}
  <div class="d-lg-flex gap-30 mb-2">
    <div class="{{btnClass}}">
    {{>partials/button/button class="fw-bold btn-primary mr-lg-30"}}
    </div>

    <div class="{{second-btnClass}}">
      {{>partials/button/button class="fw-bold btn-outline-primary t-primary" label=second-label }}
    </div>
  </div>
  {{/if}}
</div>
