<div class="cmp-info-checkbox {{classComponent}}">
  <div class="card {{classCard}}">
    <div class="card-header">
      <div class="form-check form-check-group mt-0 p-0">
        <input class="check-input" id="{{id}}" type="checkbox">
        <label for="{{id}}">
          <h2 class="title-xlarge u-main-black">{{title}}</h2>
        </label>
      </div>
    </div>
    <div class="card-body">

      {{#if subtitleCard}}
      <p class="subtitle-small{{subtitleClass}}">{{{subtitleCard}}}</p>
      {{#if subtitleValue}}
      <span
        class="subtitle-small fw-semibold d-block {{spanClass}} {{#if toggle}}mb-3{{/if}}">{{{subtitleValue}}}</span>
      {{/if}}
      {{/if}}


      {{#if toggle}}
      {{>partials/toggle/toggle label=labelToggle class=classToggle}}
      {{/if}}

      {{#if info-appointment}}

      {{#each info-appointment as |item|}}
      <div class="info-wrapper">
        <span class="info-wrapper__label">{{item.label}}</span>
        <p class="info-wrapper__value">{{item.value}}</p>
      </div>
      {{/each}}

      {{/if}}

      {{#if info-payment}}
      {{#each info-payment as |item|}}
      <div class="info-wrapper-payment d-flex flex-lg-column">
        <p class="info-wrapper__label me-2 me-md-0">{{item.label}}</p>
        <span class="fw-semibold">{{item.value}}</span>
      </div>
      {{/each}}
      {{/if}}

      {{#if accordion}}
      {{>partials/cmp-accordion/cmp-accordion-immobili collapse-id=collapse-id info=true }}
      {{/if}}

    </div>
  </div>
</div>