<div class="cmp-text-area {{class}}">
  <div class="form-group">
    <label for="exampleFormControlTextarea{{num}}">{{placeholder}}</label>
    <textarea class="text-area" id="exampleFormControlTextarea{{num}}" rows="3"></textarea>
  </div>
  {{#if label}}
    <span class="label u-grey-dark">{{label}}</span>
  {{/if}}
</div>
