<div class="categoy-list pb-4">
  <h2 class="h6 text-uppercase">Categorie</h2>
  <ul>
    {{#each categories as |checkbox|}}
      <li>
        <div class="form-check">
          <div class="checkbox-body border-light py-3">
            <input type="checkbox" id="{{checkbox.id}}" name="{{checkbox.name}}" value="{{checkbox.value}}">
            <label for="{{checkbox.id}}" class="subtitle-small_semi-bold mb-0">{{checkbox.label}}</label>
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
</div>