<div class="callout callout-highlight ps-3 {{calloutType}}">
  <div class="callout-title mb-20 d-flex align-items-center {{titleClass}}">
    <svg class="icon icon-sm">
      <use href="../.../assets/bootstrap-italia/dist/svg/sprite.svg#{{icon}}"></use>
    </svg>
     <span>{{calloutTitle}}</span>
  </div>
  <p class="{{textClass}}">{{{calloutText}}}</p>
</div>