<div class="cmp-card w-100">
  <div class="card {{#if bg-grey}}has-bkg-grey{{/if}}  {{#if contacts}}contacts has-bkg-grey {{/if}} {{class}}" >
    <div class="card-header border-0 p-0">
      <div class="d-flex">
        {{#if card-title}}
          {{#if h3-title}}
            <h3 class="subtitle-large {{#if required-icon}}icon-required{{/if}}" id="{{id-title}}">{{{card-title}}}</h3>
          {{else}}
            <h2 class="title-xxlarge {{h2-class}} {{#if required-icon}}icon-required{{/if}}" id="{{id-title}}">{{card-title}}</h2>
          {{/if}}
        {{/if}}
      </div>
      {{#if second-title}}
      <h3 class="subtitle-medium cmp-card__second-title" >{{second-title}}</h3>
      {{/if}}
      {{#if subtitle}}
      <div class="subtitle-small mb-4">{{{subtitle}}}</div>
      {{/if}}
    </div>
    <div class="card-body p-0">
      {{> @partial-block}}
    </div>
  </div>
</div>
