<div class="cmp-card-simple card-wrapper pb-0 rounded {{#if borderlight}}border border-light{{/if}}">
  <div class="card shadow-sm rounded">
    <div class="card-body">
      <a href="#" class="text-decoration-none" aria-label="Vai all'argomento {{card-title}}" title="Vai all'argomento {{card-title}}" {{#if data-element}}data-element="{{data-element}}"{{/if}}><h3 class="card-title t-primary {{classTitle}}">{{card-title}}</h3></a>
      <p class="titillium text-paragraph mb-0 {{classText}}">{{card-text}}</p>
    </div>
  </div>
</div>
