<div class="cmp-breadcrumbs {{class}}" role="navigation">
  <nav class="breadcrumb-container " aria-label="Percorso di navigazione">
    <ol class="breadcrumb p-0" data-element="breadcrumb">
    {{#if link1}}
      <li class="breadcrumb-item"><a href="#" aria-label="Vai alla pagina {{link1}}" title="Vai alla pagina {{link1}}">{{link1}}</a><span class="separator">/</span></li>
    {{/if}}
    {{#if link2}}
      <li class="breadcrumb-item"><a href="#" aria-label="Vai alla pagina {{link2}}" title="Vai alla pagina {{link2}}">{{link2}}</a></li>
    {{/if}}
    {{#if link3}}
      <li class="breadcrumb-item active" aria-current="page"><span class="separator">/</span>{{link3}}</li>
    {{/if}}
    </ol>
  </nav>
</div>
