<div class="cmp-accordion">
  <div class="accordion" id="{{id}}">
    {{#each accordion as |item|}}
    <div class="accordion-item">
      <div class="accordion-header" id="heading{{item.num}}">
        <button class="accordion-button collapsed title-snall-semi-bold {{#if item.text}}py-3{{/if}}" type="button"
          data-bs-toggle="collapse" data-bs-target="#collapse{{item.num}}" aria-expanded="true"
          aria-controls="collapse{{item.num}}">
          <div class="button-wrapper">
            {{item.title}}
            <div class="icon-wrapper">
              <img class="icon-folder {{#if warning-icon}}icon-warning{{/if}}" src="../assets/images/{{item.icon}}"
                alt="folder {{item.icon-label}}" role="img""">
              <span class="{{item.color}}">{{item.icon-label}}</span>
            </div>
        </button>
        {{#if item.date}}
        <p class="accordion-date title-xsmall-regular mb-0">{{item.date}}</p>
        {{/if}}
      </div>

      <div id="collapse{{item.num}}" class="accordion-collapse collapse p-0"
        data-bs-parent="#accordionExample{{item.num}}" role="region" aria-labelledby="heading{{item.num}}">
        <div class="accordion-body">
          {{#if item.text}}
          <p class="mb-3">{{{item.text}}}</p>
          {{else}}
          <p class="mb-2 fw-normal">{{item.practice}} <span class="label">{{item.practice-number}}</span></p>

          {{#if item.import}}
          <p class="mb-2 fw-normal">Metodo: <span class="label">PagoPA</span></p>
          <p class="mb-2 fw-normal">Importo: <span class="label">{{item.import}}</span></p>
          {{/if}}

          <a href="#" class="mb-2">
            <span class="t-primary">Scheda servizio</span>
          </a>

          {{#if item.label-tag}}
          {{> cmp-tag/cmp-tag label-tag=item.label-tag }}
          {{/if}}

          {{>cmp-icon-list/cmp-icon-list
          title=false
          class="mt-3 p-0"
          icon-list=item.collapse
          }}

          {{#if item.btn-label}}
          {{> cmp-button/cmp-button label=item.btn-label primary="true" class="justify-content-center
          my-3"}}
          {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>