{{#if no-link}}
<div class="chip chip-simple {{class}}" href="#" {{#if data-element}}data-element="{{data-element}}"{{/if}}>
  <span class="chip-label">{{label-tag}}</span>
</div>
{{else}}
<a class="chip chip-simple {{class}}" href="#" {{#if data-element}}data-element="{{data-element}}"{{/if}}>
  <span class="chip-label">{{label-tag}}</span>
</a>
{{/if}}