{{#if no-link}}
<div class="cmp-tag">
  <div class="chip chip-simple {{class}} text-decoration-none" href="#" data-element="service-topic">
  <span class="chip-label">{{label-tag}}</span>
  </div>
</div>
{{else}}
<div class="cmp-tag">
  <a class="chip chip-simple {{class}} text-decoration-none" href="#" data-element="service-topic">
  <span class="chip-label">{{label-tag}}</span>
  </a>
</div>
{{/if}}
